# 옷마이갓 코디 추천 시스템 구축 데이터 정리 최종본
* 열 구성
* image_name, category_label, category_name, texture_1, texture_2, style_1, style_2

In [1]:
import pandas as pd
arranged = pd.read_csv('/content/drive/My Drive/dress_god/양창원/0917_정리본/attribute_arranged.csv')
category_table = pd.read_csv('/content/drive/My Drive/dress_god/양창원/0917_정리본/image_name_category.csv')

In [2]:
arranged

                                               image_name  ... style_2
0         img/Sheer_Pleated-Front_Blouse/img_00000001.jpg  ...     NaN
1         img/Sheer_Pleated-Front_Blouse/img_00000002.jpg  ...     NaN
2         img/Sheer_Pleated-Front_Blouse/img_00000003.jpg  ...     NaN
3         img/Sheer_Pleated-Front_Blouse/img_00000004.jpg  ...     NaN
4         img/Sheer_Pleated-Front_Blouse/img_00000005.jpg  ...     NaN
...                                                   ...  ...     ...
289217  img/Paisley_Print_Babydoll_Dress/img_00000050.jpg  ...     NaN
289218  img/Paisley_Print_Babydoll_Dress/img_00000051.jpg  ...     NaN
289219  img/Paisley_Print_Babydoll_Dress/img_00000052.jpg  ...     NaN
289220  img/Paisley_Print_Babydoll_Dress/img_00000053.jpg  ...     NaN
289221  img/Paisley_Print_Babydoll_Dress/img_00000054.jpg  ...     NaN

[289222 rows x 5 columns]

In [3]:
category_table

        Unnamed: 0  ... category_name
0                0  ...        Blouse
1                1  ...        Blouse
2                2  ...        Blouse
3                3  ...        Blouse
4                4  ...        Blouse
...            ...  ...           ...
289217      289217  ...         Dress
289218      289218  ...         Dress
289219      289219  ...         Dress
289220      289220  ...         Dress
289221      289221  ...         Dress

[289222 rows x 4 columns]

In [4]:
category_table.columns

Index(['Unnamed: 0', 'image_name', 'category_label', 'category_name'], dtype='object')

In [5]:
category_table = category_table.drop(['Unnamed: 0'], axis=1)

In [6]:
category_table

                                               image_name  ...  category_name
0         img/Sheer_Pleated-Front_Blouse/img_00000001.jpg  ...         Blouse
1         img/Sheer_Pleated-Front_Blouse/img_00000002.jpg  ...         Blouse
2         img/Sheer_Pleated-Front_Blouse/img_00000003.jpg  ...         Blouse
3         img/Sheer_Pleated-Front_Blouse/img_00000004.jpg  ...         Blouse
4         img/Sheer_Pleated-Front_Blouse/img_00000005.jpg  ...         Blouse
...                                                   ...  ...            ...
289217  img/Paisley_Print_Babydoll_Dress/img_00000050.jpg  ...          Dress
289218  img/Paisley_Print_Babydoll_Dress/img_00000051.jpg  ...          Dress
289219  img/Paisley_Print_Babydoll_Dress/img_00000052.jpg  ...          Dress
289220  img/Paisley_Print_Babydoll_Dress/img_00000053.jpg  ...          Dress
289221  img/Paisley_Print_Babydoll_Dress/img_00000054.jpg  ...          Dress

[289222 rows x 3 columns]

In [7]:
# 데이터 프레임 합병
df = pd.merge(arranged,category_table)
df

                                               image_name  ... category_name
0         img/Sheer_Pleated-Front_Blouse/img_00000001.jpg  ...        Blouse
1         img/Sheer_Pleated-Front_Blouse/img_00000002.jpg  ...        Blouse
2         img/Sheer_Pleated-Front_Blouse/img_00000003.jpg  ...        Blouse
3         img/Sheer_Pleated-Front_Blouse/img_00000004.jpg  ...        Blouse
4         img/Sheer_Pleated-Front_Blouse/img_00000005.jpg  ...        Blouse
...                                                   ...  ...           ...
289217  img/Paisley_Print_Babydoll_Dress/img_00000050.jpg  ...         Dress
289218  img/Paisley_Print_Babydoll_Dress/img_00000051.jpg  ...         Dress
289219  img/Paisley_Print_Babydoll_Dress/img_00000052.jpg  ...         Dress
289220  img/Paisley_Print_Babydoll_Dress/img_00000053.jpg  ...         Dress
289221  img/Paisley_Print_Babydoll_Dress/img_00000054.jpg  ...         Dress

[289222 rows x 7 columns]

In [8]:
df['category_label'].isnull().sum() # 0개
df['category_name'].isnull().sum()  # 0개

0

In [9]:
# texture_1 ~ style_2 총 4개의 열에서 결측치를 가지고 있는 행 삭제
df_final = df.dropna(thresh=4, axis=0) # 비결측치를 4개 이상 가지는 행을 남긴다 (image_name + category_label + category_name + (texture_1 ~ style_2 중 하나 ) = 4 )
df_final

                                               image_name  ... category_name
2         img/Sheer_Pleated-Front_Blouse/img_00000003.jpg  ...        Blouse
4         img/Sheer_Pleated-Front_Blouse/img_00000005.jpg  ...        Blouse
8         img/Sheer_Pleated-Front_Blouse/img_00000009.jpg  ...        Blouse
9         img/Sheer_Pleated-Front_Blouse/img_00000010.jpg  ...        Blouse
13        img/Sheer_Pleated-Front_Blouse/img_00000014.jpg  ...        Blouse
...                                                   ...  ...           ...
289217  img/Paisley_Print_Babydoll_Dress/img_00000050.jpg  ...         Dress
289218  img/Paisley_Print_Babydoll_Dress/img_00000051.jpg  ...         Dress
289219  img/Paisley_Print_Babydoll_Dress/img_00000052.jpg  ...         Dress
289220  img/Paisley_Print_Babydoll_Dress/img_00000053.jpg  ...         Dress
289221  img/Paisley_Print_Babydoll_Dress/img_00000054.jpg  ...         Dress

[174873 rows x 7 columns]

In [14]:
# csv 파일 저장하기
import csv
df_final.to_csv('/content/drive/My Drive/dress_god/양창원/0917_정리본/oht_my_god_data_table.csv')